<table id="ratings-table" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Artist</th>
            <th scope="col">Album</th>
            <th scope="col">Release Date</th>
            <th scope="col">Rating</th>
        </tr>
    </thead>
    <tbody>
        {% for rating in ratingList %}
            <tr class="rating{{rating.value}}">
                <td><a href="{% url 'ratings:viewArtist' rating.item.artist.id %}">{{rating.item.artist.name}}</a></td>
                <td><a href="{% url 'ratings:viewItem' rating.item.id %}">{{rating.item.name}}</a></td>
                <td>{{rating.item.release_date | date:"m/d/Y" }}</td>
                <td class="star"><div id="rating-{{rating.item.id}}" score="{{rating.value}}"></div><div style="display: none;">{{rating.value}}</div></td>
            </tr>
        {% endfor %}
    </tbody>
</table>