{% extends 'ratings/base.html' %}

{% block extraheaders %}

<script type="text/javascript">
	// $(function() {
	// 	$('#search-tabs a:last').tab('show');
	// });
	$('#search-tabs a').click(function(e) {
		alert('hi');
		e.preventDefault();
		$(this).tab('show');
	})
</script>

{% endblock %}



{% block body %}

<h3>Search Results</h3>

<ul class="nav nav-tabs" id="search-tabs">
	
	{% if userList %}<li {% if activeTab == 'user' %}class="active"{% endif %}><a href="#users" data-toggle="tab">Users</a></li>{% endif %}
	{% if itemList %}<li {% if activeTab == 'item' %}class="active"{% endif %}><a href="#items" data-toggle="tab">Items</a></li>{% endif %}
	{% if artistList %}<li {% if activeTab == 'artist' %}class="active"{% endif %}><a href="#artists" data-toggle="tab">Artists</a></li>{% endif %}
</ul>

<div class="tab-content" >
{% if userList %}
<div class="tab-pane {% if activeTab == 'user' %}active{% endif %}" id="users">
{% for user in userList %}
	<p><a href="{% url 'ratings:viewUser' user.id %}"> {{user}} </a></p>
{% endfor %}
</div>
{% endif %}

{% if itemList %}
<div class="tab-pane {% if activeTab == 'item' %}active{% endif %}" id="items">
{% for item in itemList %}
	<p><a href="{% url 'ratings:viewItem' item.id %}">{{item.name}} </a></p>
{% endfor %}
</div>
{% endif %}

{% if artistList %}
<div class="tab-pane {% if activeTab == 'artist' %}active{% endif %}" id="artists">
{% for artist in artistList %}
	<p><a href="{% url 'ratings:viewArtist' artist.id %}"> {{artist.name}} </a></p>
{% endfor %}
</div>
{% endif %}
</div>

<script type="text/javascript">
	// $(function() {
	// 	$('#search-tabs a:last').tab('show');
	// });
	$('#search-tabs a').click(function(e) {
		//alert('hi');
		//e.preventDefault();
		$(this).tab('show');
	})
</script>



{% endblock %}