{% extends 'ratings/base.html' %}

{% block extraheaders %}

{% endblock %}



{% block body %}


<h1>All Users</h1>

{% if userList %}
	<table id="users-table" class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Username</th>
				<th scope="col">Rating Count</th>
			</tr>
		</thead>
		<tbody>
			{% for user in userList %}
				<tr>
					<td><a href="{% url 'ratings:viewUser' user.id %}">{{user}}</a></td>
					<td>{{user.rating_count}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}


{% endblock %}