{% extends 'ratings/base.html' %}

{% block extraheaders %}

    <script type="text/javascript">
        $(document).ready(
            function() { 
                $("#pretty-table").tablesorter(); 
                $("tbody").find("tr").find("td.star").find("div").each(function() {
                    $(this).raty({
                        path     : '{{STATIC_URL}}img',
                        size     : 24,
                        half     : true,
                        starHalf : 'star-half-big.png',
                        starOff  : 'star-off-big.png',
                        starOn   : 'star-on-big.png',
                        cancel   : 'true',
                        score    : function() {
                            return $(this).attr('score') / 2;
                        },
                        click    : function(score, evt) {
                            rate_item($(this).attr('id'), score);
                        },
                        readOnly : function() {
                            return !viewingSelf(); 
                        }
                    });
                });

                // Initialize the year filter picker
                $('#yearFilterPicker').append('<option value="all">all</option>');
                $('#yearFilterPicker').append('<optgroup label="----"/>');
                for (i = new Date().getFullYear(); i > 1900; i--) {

                    if(i == {{yearFilter}}) {
                        $('#yearFilterPicker').append($('<option selected="selected" />').val(i).html(i));
                    } else {
                        $('#yearFilterPicker').append($('<option />').val(i).html(i));
                    }
                }
            } 
        );

        function rate_item(item_id, value) {

            value = value * 2;
            data = {
                item_id : item_id,
                value   : value,
            };
            var serializedData = JSON.stringify(data);
            Dajaxice.ratings.rate_item(Dajax.process, {'data': serializedData});

            var curRow = $('#' + item_id).closest('tr');
            if( curRow.attr('class') != ('rating' + value)) {
                curRow.switchClass(curRow.attr('class'), 'rating' + value, 1000, "easeInOutQuad");
            }
            $('#' + item_id).next().html(value);
            $("#pretty-table").trigger('update');
        }

        function viewingSelf() {
            {% if user == userToView %}
                return true;
            {% else %}
                return false;
            {% endif %}
        }

        function filterByYear(year) {
            if(year == "all") {
                window.location = "{% url 'ratings:viewUser' userToView.id %}";
            }
            window.location = "{% url 'ratings:viewUser' userToView.id %}" + "?yearFilter=" + year;
        }
    </script>   

{% endblock %}

{% block body %}

<div style="margin: 45px;">
    <h3 style="padding: 0px 0px 10px 0px;">Ratings for {{userToView.username}}</h3>
    <div style="padding: 0px 0px 10px 0px;">
        <label for="yearFilterPicker">Filter by Year: </label>
        <select name="yearFilterPicker" id="yearFilterPicker" onchange="filterByYear(this.options[this.selectedIndex].value);"></select>
    </div>

    {% if ratingList %}

        <table id="pretty-table" cellpadding="4">
            <thead>
                <tr>
                    <th scope="col">Artist</th>
                    <th scope="col">Album</th>
                    <th scope="col">Release Date</th>
                    <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for rating in ratingList %}
                    <tr class="rating{{rating.value}}">
                        <td><a href="{% url 'ratings:viewArtist' rating.item.artist.id %}">{{rating.item.artist.name}}</a></td>
                        <td><a href="{% url 'ratings:viewItem' rating.item.id %}">{{rating.item.name}}</a></td>
                        <td>{{rating.item.release_date | date:"m/d/Y" }}</td>
                        <td class="star"><div id="rating-{{rating.item.id}}" score="{{rating.value}}"></div><div style="display: none;">{{rating.value}}</div></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>



    {% else %}
        <p>No ratings yet!</p>
    {% endif %}
</div>

{% endblock %}