{% extends 'ratings/base.html' %}


{% block extraheaders %}
  <script type="text/javascript">
    $(document).ready(
      function() { 
        $("#items-table").tablesorter(); 
      }
    );

    // $("rating-cell").each( function() {
    //   $(this).closest("form").click(function(e) {
    //     e.preventDefault();
    //     e.stopPropagation();
    //   }
    // }
    // );

    function add_to_list_callback(item_id, value) {
      // Change the "Add to List" button as "Added" and disable.
      $("#add-to-list-"+item_id).addClass('btn-disabled');
      $("#add-to-list-"+item_id).attr('disabled', 'disabled');
      $("#add-to-list-"+item_id).prop('disabled', true);
      $("#add-to-list-"+item_id).html("Added");
    }

    function rate_button_clicked(item_id) {
      var ratingValue = $("#rating-"+item_id).val();
      rate_item(item_id, ratingValue, rate_item_callback);
    }

    function rate_item_callback(item_id, value) {
      $("#rating-"+item_id).closest("div").addClass("success", 200, "easeInOutQuad");
    }

  </script>
{% endblock %}

{% block body %}

<div class="row">

<h3>{{ artist.name }}</h3>

{% if itemList %}
  <table id="items-table" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Album</th>
        <th scope="col">Release Date</th>
        <th scope="col">Average Rating</th>
        <th scope="col">Your Rating</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in itemList %}
        <tr>
          <td><a href="{% url 'ratings:viewItem' item.id %}" tabindex="-1">{{ item.name }}</a></td>
          <td>{{ item.release_date }}</td>
          <td>{{ item.average_rating}}</td>
          <td id="rating-cell">
            <div class="input-append control-group" id="rating-control-group-{{item.id}}">
              <!--TODO: This needs to be replaced by the raty widget. Alternatively it should just use the standard ratingsList table or something -->
              <input class="input-mini" id="rating-{{item.id}}" type="text" value="{{item.userRating}}" style="text-align:center;">
              <button type="button" class="btn" onclick="rate_button_clicked({{item.id}});">Rate</button>
            </div>
          </td>
          <td><div class="btn-toolbar"><div class="btn-group">
            {% if not item.inUsersList %}
              <a id="add-to-list-{{item.id}}" class="btn" onclick="rate_item({{ item.id }}, 0, add_to_list_callback);">Add to List</a>
            {% endif %}
          </div></div></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<h2>Add Item</h2>
<form role="form" class="form-horizontal" action="{% url 'ratings:addItem' %}" method="post">
  {% csrf_token %}
  <input id="artist_id" name="artist_id" value="{{ artist.id }}" type="hidden" >
  <div class="form-group">
    <label for="artist_name" class="control-label">Artist: </label>
    <input type="text" class="form-control" name="artist_name" id="artist_name" value="{{ artist.name }}" readonly />
  </div>

  <div class="form-group">
    <label for="item_name" class="control-label">Name: </label>
    <input type="text" class="form-control" name="item_name" id="item_name" />
  </div>

  <div class="form-group">
    <label class="control-label" for="item_type">Item Type: </label>
    <select class="form-control" name="item_type" id="item_type">
      {% for itemTypeKey, itemTypeVal in itemTypeList %}
      <option value="{{ itemTypeKey }}">{{ itemTypeVal }}</option>
      {% endfor %}
    </select>
  </div>
    
  <div class="form-group">
    <label for="release_date" class="control-label">Release Date: </label>
    <input class="form-control" type="text" id="release_date" name="release_date" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
  $( "#release_date" ).datepicker({ dateFormat: "yy-mm-dd" });
</script>



</div>
{% endblock %}