{% extends 'ratings/base.html' %}

{% block extraheaders %}

    <script type="text/javascript">
        $(document).ready(
            function() { 
                // Initialize the year filter picker
                $('#yearFilterPicker').append('<option value="all">all</option>');
                $('#yearFilterPicker').append('<optgroup label="----"/>');
                for (i = new Date().getFullYear(); i > 1900; i--) {

                    if(i == {{yearFilter}}) {
                        $('#yearFilterPicker').append($('<option selected="selected" />').val(i).html(i));
                    } else {
                        $('#yearFilterPicker').append($('<option />').val(i).html(i));
                    }
                }

                // Initialize Rating Slider
                $('#ratingSlider').slider({
                    min: 0,
                    max: 10,
                    step: 1,
                    value: [0,10],
                }).on('slideStop', renderRatingList);

                renderRatingList();
            } 
        );

        function rating_callback(item_id, value) {
            var curRow = $('#rating-' + item_id).closest('tr');
            if( curRow.attr('class') != ('rating' + value)) {
            curRow.switchClass(curRow.attr('class'), 'rating' + value, 1000, "easeInOutQuad");
            }
            $('#rating-' + item_id).next().html(value);
            $("#pretty-table").trigger('update');
        }

        function viewingSelf() {
            {% if user == userToView %}
                return true;
            {% else %}
                return false;
            {% endif %}
        }

        function renderRatingList() {
            var yearFilter = $('#yearFilterPicker option:selected').val();
            var viewUnrated = $('#viewUnrated').is(':checked');
            var viewRecentlyRated = $('#viewRecentlyRated').is(':checked');
            var ratingSliderLower = $('#ratingSlider').data('slider').getValue()[0];
            var ratingSliderUpper = $('#ratingSlider').data('slider').getValue()[1];

            var data = {
                'user_id': {{userToView.id}},
                'year_filter': yearFilter,
                'viewUnrated': viewUnrated,
                'viewRecentlyRated': viewRecentlyRated,
                'ratingLowerBound': ratingSliderLower,
                'ratingUpperBound': ratingSliderUpper,
            };
            
            $('#ratingList').html('');
            $('#ratingList').spin('small');
            Dajaxice.ratings.render_rating_list(renderRatingListCallback, data);

        }

        function renderRatingListCallback(data) {
            Dajax.process(data);
            $("#ratings-table").tablesorter(); 
            $("tbody").find("tr").find("td.star").find("div").each(function() {
                $(this).raty({
                    path     : '{{STATIC_URL}}img',
                    size     : 24,
                    half     : true,
                    starHalf : 'star-half-big.png',
                    starOff  : 'star-off-big.png',
                    starOn   : 'star-on-big.png',
                    cancel   : 'true',
                    score    : function() {
                        return $(this).attr('score') / 2;
                    },
                    click    : function(score, evt) {
                        var item_id = $(this).attr('id').replace("rating-", "");

                        rate_item(item_id, score * 2, rating_callback);
                    },
                    readOnly : function() {
                        return !viewingSelf(); 
                    }
                });
            });
        }
    </script>   

{% endblock %}

{% block body %}
    <h3>Ratings for {{userToView.username}}</h3>
    <form class="form-inline" role="form">
        <div class="form-group">
            <label for="yearFilterPicker">Filter by Year: </label>
            <select name="yearFilterPicker" id="yearFilterPicker" class="form-control" onchange="renderRatingList();"></select>
        </div>
        <div class="form-group">
            <label class="checkbox inline" id="rating-filter" >
                <input type="checkbox" id="viewUnrated" class="form-control" onchange="renderRatingList();"> View Unrated
            </label>
        </div>
        <div class="form-group">
            <label class="checkbox inline" id="rating-filter">
                <input type="checkbox" id="viewRecentlyRated" class="form-control" onchange="renderRatingList();">View Recently Rated
            </label>
        </div>
        <div class="form-group">
            <label for="ratingSlider">Filter by Rating: </label>
            <input type="text" class="span2" name="ratingSlider" class="form-control" id="ratingSlider" value=""/>
        </div>
    </form>

    {% if ratingList %}

        <div id="ratingList"> stuff </div>

    {% else %}
        <p>No ratings yet!</p>
    {% endif %}

{% endblock %}