{% extends 'ratings/base.html' %}

{% block body %}

<h3><a href="{% url 'ratings:viewArtist' artist.id %}">{{artist.name}}</a> -  {{ item.name }} </h3>


<form action="{% url 'ratings:rateItem' item.id %}" method="post">
	{% csrf_token %}
	<label for="value"><input type="text" name="value" id="value"/></label>
	<input type="submit" value="Rate" />
</form>

<form action="{% url 'ratings:deleteItem' item.id %}" method="post">
	{% csrf_token %}
	<input type="hidden" name="artist_id" id="artist_id" value="{{artist.id}}">
	<input type="submit" value="Delete Item" class="btn-danger">
</form>

<h3>Ratings:</h3>
{% if ratingList %}
    <ul>
    {% for rating in ratingList %}
        <li><a href="{% url 'ratings:viewUser' rating.user.id %}">{{ rating.user }}</a> rated this item {{ rating.value }}/10</li>
    {% endfor %}
{% else %}
    <p>No ratings for this item.</p>
{% endif %}

{% endblock %}