body {
	padding-top: 40px;
}
@media screen and (max-width: 768px) {
	body { padding-top: 0px; }
}

.controls {
	margin-bottom: 10px;
}

/*/*body {
	font-family: Verdana, Helvetica, sans-serif;
}

#ratings-table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid black;
}

#ratings-table th
{
	font-size: 16px;
	font-weight: normal;
	padding: 10px 8px;
	color: black;
	background: #d0dafd;
	border: 1px solid black;
	text-align: center;
}

#ratings-table th:hover
{
	background: #e0eafd;
}

#ratings-table td
{
	padding: 8px;
	border: 1px solid black;
	text-align:center;
}

#ratings-table tr:hover td
{
}
*/
#ratings-table .rating1
{
	background: #DDB791;
}

#ratings-table .rating2
{
	background: #FF8E8E;
}

#ratings-table .rating3
{
	background: #F0B9C8;
}

#ratings-table .rating4
{
	background: #FFD062;
}

#ratings-table .rating5
{
	background: #FFF06A;
}

#ratings-table .rating6
{
	background: #C0FF97;
}

#ratings-table .rating7
{
	background: #B4D1B6;
}

#ratings-table .rating8
{
	background: #8EB4E6;
}

#ratings-table .rating9
{
	background: #7BCAE1;
}

#ratings-table .rating10
{
	background: #D0BCFE;
}

#ratings-table a:link
{
	text-decoration: none;
	color: black;
}

#ratings-table a:visited
{
	text-decoration: none;
	color: black;
}

#ratings-table a:active
{
	text-decoration: none;
}

#ratings-table a:hover
{
	text-decoration: none;
	color: red;
}